<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="css/profile.css" />
  </head>
  <body>

    <div class="profile-card">
      <img src="<%= user.profilePicture %>" alt="User Picture" />
      <h1>Welcome, <%= user.username %></h1>
      <p>Email: <%= user.email %></p>
      <form action="/logout" method="POST">
        <button class="logout-btn" type="submit">Logout</button>
      </form>
    </div>
  </body>
</html>
